In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_train = pd.read_csv("train.csv")
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df_train.shape

(4209, 378)

### Collecting the y values in an array

In [4]:
y_train = df_train['y'].values

### Understanding the datatypes

In [5]:
colss = [c for c in df_train.columns if 'X' in c ]
print('Number of features: {}'.format(len(colss)))

Number of features: 376

In [6]:
print('Feature types:')
df_train[colss].dtypes.value_counts()

Feature types:

int64     368
object      8
dtype: int64

### Count the data in each of the columns

In [7]:
counts = [[], [], []]
for c in colss:
    typss = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq== 2 and typss == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

In [8]:
print('Constant features: {} Binary features: {} Categorical features:{} \n '.format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features:8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

### Reading the test file

In [9]:
df_test=  pd.read_csv('test.csv')
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
df_test.shape

(4209, 377)

In [11]:
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

In [12]:
x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

### checking for null and unique value in both test and train sets

In [13]:
def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(df_train)
check_missing_values(df_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [14]:
### To check the zero variance in the columns and to remove those variables

In [15]:
for column in usable_columns:
    cardinal = len(np.unique(x_train[column]))
    if cardinal == 1:
        x_train.drop(column, axis =1)
        x_test.drop(column, axis = 1)
    if cardinal >2:
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,X115,X95,X75,X358,X353,X157,X126,X277,X172,X31,...,X80,X243,X300,X140,X185,X174,X269,X83,X164,X329
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
2,0,0,1,1,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,1,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
4,0,0,0,1,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [16]:
print('Feature types:')
x_train[colss].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

### Perform dimensionality Reduction

In [17]:
from sklearn.decomposition import PCA

In [18]:
n_comp = 12
pca = PCA(n_components = n_comp, random_state = 420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

### Training using XGBoost

In [19]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_valid, y_train, y_valid = train_test_split(pca2_results_train, y_train, test_size = 0.2, random_state= 400)

In [21]:
d_train = xgb.DMatrix(x_train, label = y_train)
d_valid = xgb.DMatrix(x_valid, label = y_valid)
d_test = xgb.DMatrix(pca2_results_test)

In [22]:
params ={}
params['Objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [23]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)
watchlist = [(d_train ,'train') , (d_valid, 'valid')]
clf = xgb.train(params, d_train,
               1000, watchlist, early_stopping_rounds = 50, 
               feval = xgb_r2_score, maximize = True, verbose_eval = 10)

[09:12:40] WARNING: /workspace/src/learner.cc:328:
Parameters: { Objective } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:98.66840	valid-rmse:100.20478	train-r2:-62.02620	valid-r2:-53.51754
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:80.85765	valid-rmse:82.33318	train-r2:-41.32599	valid-r2:-35.80520
[20]	train-rmse:66.34142	valid-rmse:67.79385	train-r2:-27.49276	valid-r2:-23.95399
[30]	train-rmse:54.52412	valid-rmse:55.96837	train-r2:-18.24608	valid-r2:-16.00766
[40]	train-rmse:44.91967	valid-rmse:46.36821	train-r2:-12.06285	valid-r2:-10.67347
[50]	train-rmse:37.12995	valid-rmse:38.60696	train-r2:-7.92511	valid-r2:-7.09265
[60]	train-rmse:30.83536	valid-rmse:32.36339	train-r2:-5.15550	valid-r2:-4.68679
[70]	train-rmse:25.76032	valid-rmse:27.37361	train-r2:-3.29603	valid-r2:-3.06840
[80]	train-rmse:21.69613	valid-rmse:23.41591	train-r2:-2.04740	valid-r2:-1.97702
[90]	train-rmse:18.47291	valid-rmse:20.31336	train-r2:-1.20920	valid-r2:-1.24039
[100]	train-rmse:15.94161	valid-rmse:17.91478	train-r2:-0.64524	valid-r2:-0.74254
[110]	train-rmse:13.98122	valid-rmse:16.07813	train-r2:-0.26548	valid-r2:-0.40356
[120]	train-rmse:12.48486	valid-rmse:14.70905	train-r2:-0.00910	valid-r2:-0.17470
[130]	train-rmse:11.36270	valid-rmse:13.69834	train-r2:0.16415	valid-r2:-0.01882
[140]	train-rmse:10.52681	valid-rmse:12.95969	train-r2:0.28260	valid-r2:0.08810
[150]	train-rmse:9.91553	valid-rmse:12.42752	train-r2:0.36350	valid-r2:0.16145
[160]	train-rmse:9.47296	valid-rmse:12.05041	train-r2:0.41905	valid-r2:0.21157
[170]	train-rmse:9.14625	valid-rmse:11.77513	train-r2:0.45843	valid-r2:0.24718
[180]	train-rmse:8.90815	valid-rmse:11.58045	train-r2:0.48626	valid-r2:0.27187
[190]	train-rmse:8.74081	valid-rmse:11.44387	train-r2:0.50538	valid-r2:0.28894
[200]	train-rmse:8.61590	valid-rmse:11.34534	train-r2:0.51942	valid-r2:0.30113
[210]	train-rmse:8.52384	valid-rmse:11.27194	train-r2:0.52963	valid-r2:0.31015
[220]	train-rmse:8.45851	valid-rmse:11.21980	train-r2:0.53682	valid-r2:0.31651
[230]	train-rmse:8.40025	valid-rmse:11.18204	train-r2:0.54317	valid-r2:0.32111
[240]	train-rmse:8.35564	valid-rmse:11.15527	train-r2:0.54802	valid-r2:0.32435
[250]	train-rmse:8.30647	valid-rmse:11.13015	train-r2:0.55332	valid-r2:0.32739
[260]	train-rmse:8.27404	valid-rmse:11.11509	train-r2:0.55680	valid-r2:0.32921
[270]	train-rmse:8.23951	valid-rmse:11.09774	train-r2:0.56049	valid-r2:0.33130
[280]	train-rmse:8.20863	valid-rmse:11.08711	train-r2:0.56378	valid-r2:0.33259
[290]	train-rmse:8.17919	valid-rmse:11.07804	train-r2:0.56690	valid-r2:0.33368
[300]	train-rmse:8.14959	valid-rmse:11.06896	train-r2:0.57003	valid-r2:0.33477
[310]	train-rmse:8.12335	valid-rmse:11.06209	train-r2:0.57280	valid-r2:0.33559
[320]	train-rmse:8.09798	valid-rmse:11.05866	train-r2:0.57546	valid-r2:0.33601
[330]	train-rmse:8.07122	valid-rmse:11.05310	train-r2:0.57826	valid-r2:0.33667
[340]	train-rmse:8.04298	valid-rmse:11.05006	train-r2:0.58121	valid-r2:0.33704
[350]	train-rmse:8.02259	valid-rmse:11.04733	train-r2:0.58333	valid-r2:0.33737
[360]	train-rmse:7.99788	valid-rmse:11.04802	train-r2:0.58589	valid-r2:0.33728
[370]	train-rmse:7.97764	valid-rmse:11.04467	train-r2:0.58798	valid-r2:0.33768
[380]	train-rmse:7.95776	valid-rmse:11.04146	train-r2:0.59003	valid-r2:0.33807
[390]	train-rmse:7.93616	valid-rmse:11.03924	train-r2:0.59226	valid-r2:0.33833
[400]	train-rmse:7.91491	valid-rmse:11.03427	train-r2:0.59444	valid-r2:0.33893
[410]	train-rmse:7.89580	valid-rmse:11.03386	train-r2:0.59639	valid-r2:0.33898
[420]	train-rmse:7.87308	valid-rmse:11.03293	train-r2:0.59871	valid-r2:0.33909
[430]	train-rmse:7.85158	valid-rmse:11.02991	train-r2:0.60090	valid-r2:0.33945
[440]	train-rmse:7.83037	valid-rmse:11.02977	train-r2:0.60306	valid-r2:0.33947
[450]	train-rmse:7.81309	valid-rmse:11.02790	train-r2:0.60481	valid-r2:0.33970
[460]	train-rmse:7.79512	valid-rmse:11.02725	train-r2:0.60662	valid-r2:0.33977
[470]	train-rmse:7.77302	valid-rmse:11.02415	train-r2:0.60885	valid-r2:0.34014
[480]	train-rmse:7.75936	valid-rmse:11.02315	train-r2:0.61022	valid-r2:0.34026
[490]	train-rmse:7.74130	valid-rmse:11.02004	train-r2:0.61203	valid-r2:0.34064
[500]	train-rmse:7.71995	valid-rmse:11.01991	train-r2:0.61417	valid-r2:0.34065
[510]	train-rmse:7.69988	valid-rmse:11.01831	train-r2:0.61618	valid-r2:0.34084
[520]	train-rmse:7.67799	valid-rmse:11.01541	train-r2:0.61835	valid-r2:0.34119
[530]	train-rmse:7.65313	valid-rmse:11.01393	train-r2:0.62082	valid-r2:0.34137
[540]	train-rmse:7.63131	valid-rmse:11.01328	train-r2:0.62298	valid-r2:0.34144
[550]	train-rmse:7.60817	valid-rmse:11.01196	train-r2:0.62526	valid-r2:0.34160
[560]	train-rmse:7.58465	valid-rmse:11.01068	train-r2:0.62758	valid-r2:0.34175
[570]	train-rmse:7.56280	valid-rmse:11.00773	train-r2:0.62972	valid-r2:0.34211
[580]	train-rmse:7.54293	valid-rmse:11.00628	train-r2:0.63166	valid-r2:0.34228
[590]	train-rmse:7.52440	valid-rmse:11.00764	train-r2:0.63347	valid-r2:0.34212
[600]	train-rmse:7.49753	valid-rmse:11.00708	train-r2:0.63608	valid-r2:0.34219
[610]	train-rmse:7.47554	valid-rmse:11.00758	train-r2:0.63822	valid-r2:0.34213
[620]	train-rmse:7.45711	valid-rmse:11.00872	train-r2:0.64000	valid-r2:0.34199
Stopping. Best iteration:
[577]	train-rmse:7.54684	valid-rmse:11.00553	train-r2:0.63128	valid-r2:0.34237

### Predicting test_df using xgboost

In [24]:
pre_test = clf.predict(d_test)
pre_test

array([ 82.3745  ,  97.92681 ,  77.87611 , ...,  96.64955 , 107.781845,
        94.73982 ], dtype=float32)

In [25]:
sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = pre_test
sub.to_csv('xgb.csv', index = False)

In [26]:
sub.head()

   ID           y
0   1   82.374496
1   2   97.926811
2   3   77.876106
3   4   76.681335
4   5  110.771500